#text{
    width: 500px;
   /*height: 300px;*/
    border: 2px solid black;
   /* color:blue;
    text-align:justify;

    text-decoration: underline;

    text-transform: capitalize;
    
    line-height: 30px;

    text-indent: 44px;

    letter-spacing: 5px;
    word-spacing: 10px;*/


/*
white-space: pre;
white-space: nowrap;*/
}
/*
#shadow{
 font-size: 70px;
 color: red;
 text-shadow: 3px -10px 2px;
}*/

#text{
    writing-mode: vertical-rl;
}




